!!!
%html{:lang => 'en-US'}
  %head
    %meta{'http-equiv' => 'content_type', :content => 'text/html;charset=utf-8'}
    %title Human-Oriented Systems, a #{data.location.state} Software Development Studio
    %meta{:name => 'keywords', :content => "#{data.location.city} software developer, #{data.location.city} programmer, post-desktop, post-wimp, programmer, software development, #{data.location.city} iphone developer, #{data.location.city} rails developer, ruby on rails, iphone, user interface, human-computer interaction, software design, ui design, standards compliance, site redesign, application development, application design, living software, human-oriented design, human-oriented software, user-centered design, user-centered software, artificial intelligence, machine learning, ubicomp, iot, Yong Bakos"}
    %meta{:name => 'description', :content => 'Human-Oriented Systems is a software development studio specializing in the research, design and development of post-desktop operating systems.'}
    %meta{:name => 'author', :content => 'Yong Bakos on behalf of Human-Oriented Systems'}
    %meta{'http-equiv' => 'Content-Style-Type', :content => 'text/css'}
    = stylesheet_link_tag 'site'
    = small_devices_stylesheet
    %link{:rel => 'shortcut icon', :href =>'/images/favicon.ico', :type => 'image/x-icon'}
  %body
    .container
      = yield
      .footer
        %p &copy; Human-Oriented Systems. All rights reserved.
  = partial('google_analytics')
