.masthead
  %h1
    Human -
    %br
    Oriented
    %br
    Systems

  .pullquote
    %p
      %i Human-Oriented Systems
      is a software development studio.
    %p
      Located in #{data.location.city}, #{data.location.state} USA, we employ the best people, tools and practices to deliver world-class software ecosystems.

%br

.topic.research.first
  %h2 Research

.topic.design
  %h2 Design

.topic.prototype
  %h2 Prototype

.topic.test
  %h2 Test

.topic.develop
  %h2 Develop

.topic.scale.last
  %h2 Scale

.topic.contact.first
  %h2 Contact
  %p
    = data.location.address
    %br
    = data.location.address2
    %br
    #{data.location.city}, #{data.location.state_abbr} #{data.location.zip_code}
    %br
    (303) 997 2463
    %br
    = link_to 'info@humanoriented.com', 'mailto:info@humanoriented.com'
